.section-styling {
    padding-top: 78px;
    padding-bottom: 49px;
    margin-top: 4px;
    margin-bottom: 0px;
    border-radius: 30px;
    background-color: black;
}

.main-rapo-section-6 h3 {
    font-family: 'SpectrumSans_Md', Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px;
    color: #FFFFFF ;
}

.main-rapo-section-6 h2 {
    font-family: 'SpectrumSans_Md', Helvetica, Arial, Lucida, sans-serif;
    font-size: 34px;
    color: #FFFFFF ;
}

.input-styling1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-styling2 {
    z-index: auto;  
    position: relative;
}

.input-group>.form-control:focus,
.input-group>.form-select:focus {
    z-index: auto;
}

.input-styling3 {
    position: absolute;
    right: 100px;

}
.section-styling-6 {
    padding-top: 78px;
    padding-bottom: 49px;
    margin-top: 4px;
    margin-bottom: 0px;
    border-radius: 30px;
    background-color: white;
}
.section-styling-7{
    padding-top: 78px;
        padding-bottom: 49px;
        margin-top: 4px;
        margin-bottom: 0px;
        background-image: url(/images/spectrum-img/AdobeStock_334398715-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: auto;
}
.main-rapo-section-7{
    background-color: rgba(0, 33, 57, 0.79);
        padding-top: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
}
.big-price h3{
    font-family: 'SpectrumSans_Md', Helvetica, Arial, Lucida, sans-serif;
        font-size: 20px;
        color: #333333 ;
        line-height: 0em;
        margin-bottom: 10px;
    
}
.big-price-heading{
    font-size: 4rem;
        color: black;
        position: relative;
        margin-left: 20px;
}
.big-price-heading span{
    position: absolute;
    top: 0px;
    left: -20px;
    font-size: 2rem;
        color: black;
}
.small-price-tag{
    font-size: 18px;
        font-family: 'SpectrumSans_Md', Helvetica, Arial, Lucida, sans-serif;
        line-height: 1;
        display: block;
}
.big-price{
        border-left: 5px solid  #0271FC;
        padding-top: 10px !important;
        padding-left: 16px !important;
        margin-bottom: 12px !important;
}
.big-price-2 {
    border-left-width: 3px;
        border-left-color: #ffcb3e;
        padding-left: 8px !important;
        margin-bottom: 12px !important;
        display: inline-block;
        vertical-align: middle;
        border-left-style: groove;
    
}
.section-6-last-txt{
    font-size: small;
}
.main-small-content{
        background-color: #0271eb;
            border-radius: 25px 25px 25px 25px;
            overflow: hidden;
            overflow: visible;
}

.img-fluidy {
    max-width: 53%;
    height: auto;
}
.img-fluidyy {
    max-width: 23%;
    height: auto;
}

.img-fluidyyy {
    max-width: 14%;
    height: auto;
}
.img-fluidys{
    max-width: 40%;
        height: auto;
}
.b-r{
    border-radius: 20px;
}

.main-small-content-two{
    background-image: linear-gradient(195deg, #4a0060 0%, #001419 100%) !important;
}



/* Responsive breakpoints */
@media (max-width: 768px) {
    .custom-input-group {
        flex-direction: column;
        /* Stack inputs and button vertically */
        gap: 15px;
    }

    .input-group>.form-control,
    .input-group>.form-select {
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .input-styling1,
    .input-styling2 {
        border-radius: 20px !important;
        width: 100%;
    }

    .input-styling3 {
        left: 0px;

    }
}




.hero{
   background-image: url(./images/herohome.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.btn-ser{
    background-color: rgb(0, 140, 255);
    width: 45%;
}
.btn-ser:hover{
    background-color: rgb(41, 40, 40);
    width: 45%;


}
.price{
    font-size: 70px;
}
.row-price{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.value{
    width: 40%;
    border-top-left-radius:40px ;
    border-bottom-right-radius:30px ;
}

.price-card{
    width: 32%;
    height: 660px;
    border: 2px solid gray;
    border-radius: 30px;
}
.button-price{
    margin-top: 70px;
    width: 100%;
    background-color: rgb(0, 140, 255);
}
.button-price-1{
    margin-top: 160px;
    width: 100%;
    background-color: rgb(0, 140, 255);
}
.button-price-2{
    margin-top: 140px;
    width: 100%;
    background-color: rgb(0, 140, 255);
}
.button-price:hover{
    margin-top: 70px;
    width: 100%; 
    background-color: rgb(41, 40, 40);
}
.button-price-1:hover{
    margin-top: 160px;
    width: 100%; 
    background-color: rgb(41, 40, 40);
}
.button-price-2:hover{
    margin-top: 140px;
     background-color: rgb(41, 40, 40);
}
.input-div{
    width: 50%;
}
.input-div input{
    width: 100%;
}
.btn-price{
    width: 25%;

}
@media screen and (max-width:1200px) {
    .price{
        font-size: 70px;
    }
    .row-price{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    .value{
        width: 40%;
        border-top-left-radius:40px ;
        border-bottom-right-radius:30px ;
    }
    
    .price-card{
        width: 32%;
        height: 700px;
        border: 2px solid gray;
        border-radius: 30px;
    }
    .button-price{
        margin-top: 70px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price-1{
        margin-top: 180px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price-2{
        margin-top: 160px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price:hover{
        margin-top: 70px;
        width: 100%; 
        background-color: rgb(41, 40, 40);
    }
    .button-price-1:hover{
        margin-top: 180px;
        width: 100%; 
        background-color: rgb(41, 40, 40);
    }
    .button-price-2:hover{
        margin-top: 160px;
         background-color: rgb(41, 40, 40);
    }
}
@media screen and (max-width:992px) {
    .btn-ser{
        background-color: rgb(0, 140, 255);
        width: 50%;
    }
    .btn-ser:hover{
        background-color: rgb(41, 40, 40);
        width: 50%;
    
    
    }
    .price{
        font-size: 70px;
    }
    .row-price{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    .value{
        width: 40%;
        border-top-left-radius:40px ;
        border-bottom-right-radius:30px ;
    }
    
    .price-card{
        width: 48%;
        height: 660px;
        border: 2px solid gray;
        border-radius: 30px;
    }
    .button-price{
        margin-top: 70px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price-1{
        margin-top: 160px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price-2{
        margin-top: 140px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price:hover{
        margin-top: 70px;
        width: 100%; 
        background-color: rgb(41, 40, 40);
    }
    .button-price-1:hover{
        margin-top: 160px;
        width: 100%; 
        background-color: rgb(41, 40, 40);
    }
    .button-price-2:hover{
        margin-top: 140px;
         background-color: rgb(41, 40, 40);
    }
    .input-div{
        width: 75%;
    }
    .input-div input{
        width: 100%;
    }
    .btn-price{
        width: 75%;

    }
    .section-styling {
        padding-top: 78px;
        padding-bottom: 49px;
        margin-top: 4px;
        margin-bottom: 0px;
        border-radius: 0px;
        background-color: black;
    }
}
@media screen and (max-width:768px) {
    .btn-ser{
        background-color: rgb(0, 140, 255);
        width: 50%;
    }
    .btn-ser:hover{
        background-color: rgb(41, 40, 40);
        width: 50%;
    
    
    }
    .price{
        font-size: 70px;
    }
    .row-price{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    .value{
        width: 40%;
        border-top-left-radius:40px ;
        border-bottom-right-radius:30px ;
    }
    
    .price-card{
        width: 100%;
        height: 660px;
        border: 2px solid gray;
        border-radius: 30px;
    }
    .button-price{
        margin-top: 70px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price-1{
        margin-top: 160px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price-2{
        margin-top: 140px;
        width: 100%;
        background-color: rgb(0, 140, 255);
    }
    .button-price:hover{
        margin-top: 70px;
        width: 100%; 
        background-color: rgb(41, 40, 40);
    }
    .button-price-1:hover{
        margin-top: 160px;
        width: 100%; 
        background-color: rgb(41, 40, 40);
    }
    .button-price-2:hover{
        margin-top: 140px;
         background-color: rgb(41, 40, 40);
    }
    .input-div{
        width: 100%;
    }
    .input-div input{
        width: 100%;
    }
    .btn-price{
        width: 100%;

    }
    .section-styling-7{
        padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 4px;
            margin-bottom: 0px;
            background-image: url(/images/spectrum-img/AdobeStock_334398715-2.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            height: auto;
    }
    .main-rapo-section-7{
        background-color: rgba(0, 33, 57, 0.79);
            padding-top: 30px;
            padding-right: 20px;
            padding-bottom: 30px;
            padding-left: 20px;
    }
}